
<header>Sign Up</header>
       <span><input type="text" placeholder="First Name"><%= users.firstName %> </span> 
      <span><input type="text" placeholder="Last Name"><%= users.lastName %></span>
      <input type="email" placeholder="Enter your email"><%= users.email %></input> 
      <input type="number" placeholder="Enter your Phone No."><%= users.phoneNo %></input> 
      <label >Date of Birth</label>
      <input type="date" placeholder="Enter your Date of Birth"><%= users.dateOfBirth %></input>

